<section class="section background">
  <div class="section__title">Purpose</div>
  <div class="section__content">
    <p>
      We are a holding company that devlops businesses around the internet. We build, grow and manage purpose-driven companies that apply technology to solve everyday business challenges.
      Our core interest lies in improving people's lives through technology by investing and allocating resources in ways that create the best long-term value for businesses and customers alike.
  </div>
</section>
