<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">We are
    <span class="name">microSEED</span>, we We are a holding company that devlops businesses around the internet.
  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:hi@microseed.xyz" target="_blank" class="highlight-link">hi@microseed.xyz</a>
    </span>
  </h3>
</header>
