<section class="section background">
  <div class="section__title">Problem</div>
  <div class="section__content">
    <p>
      There are numerous challenges faced by small internet businesses all over the world, from finding, attracting and retaining the right customer, hiring the right people and sourcing the right software to growing and scaling their businesses. 
      These problems are almost exclusive to bootstrapped & one-man operations, because of the need of deep financial commitments, long-term thinking and maniacal demand for innovation. 
    </p>
  </div>
</section>
