<section class="section skills">
  <div class="section__title">Companies</div>
  <div class="section__content">
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Healthcare</div>
        <ul>
          {% for language in site.data.skills.healthcare %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Infrastructure</div>
        <ul>
          {% for framework in site.data.skills.internet %}
          <li class="skillz__category__item">{{framework.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">SAAS</div>
        <ul>
          {% for tool in site.data.skills.saas %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Travel</div>
        <ul>
          {% for thing in site.data.skills.travel %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
